.main-div{
  background-color: bisque;
  display: flex;
  justify-content: center;
  text-align: center;
}
.child-div{
    position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    flex-direction: colum
}
.logo{
  max-width: 7%;
  position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 6%;
}

